<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>在线投稿系统管理后台</title>
    <div th:replace="common/js"></div>
    <div th:replace="common/css"></div>
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body>
    <div th:replace="common/top"></div>
    <div th:replace="common/side"></div>
    <div th:replace="common/contain"></div>
    <div th:replace="common/footer"></div>
</body>
</html>