<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>

    <div th:replace="common/css"/>
    <div th:replace="common/js"/>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <form class="layui-form" id="userForm" action="" method="post">
        <div class="layui-form-item">
            <label for="passwordOld" class="layui-form-label">
                <span class="x-red">*</span>旧密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="passwordOld" name="passwordOld" required="" lay-verify="passwordOld"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span id="passwordOldtip">您的旧密码</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="passwordNew" class="layui-form-label">
                <span class="x-red">*</span>新密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="passwordNew" name="passwordNew" required="" lay-verify="passwordNew"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span id="passwordNewtip">您的新密码</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="passwordConfirmed" class="layui-form-label">
                <span class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="passwordConfirmed" name="passwordConfirmed" required="" lay-verify="passwordConfirmed"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span id="passwordConfirmedtip">确认新密码</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"/>
            <button class="layui-btn" lay-submit="" lay-filter="edit" type="submit">修改</button>
        </div>
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" id="namebak"/>
        <input type="hidden" name="id"/>
    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;
        var usernameMsg;
        //自定义验证规则
        form.verify({
            passwordOld: function (value) {
                if (value.length <  6 || value.length > 12) {
                    return '密码长度为8到12';
                }
            }
            , passwordNew: function (value) {
                if (value.length <  6 || value.length > 12) {
                    return '密码长度为8到12';
                }
            }
            , passwordConfirmed : function (value) {
                if (value.length <  6 || value.length > 12) {
                    return '密码长度为8到12';
                }
            }
        });

        //监听提交
        form.on('submit(edit)', function (data) {
            //先判断是不是两个密码一样
            if($("#passwordNew").val() !== $("#passwordConfirmed").val()){
                layer.alert("两次密码不一致") ;
                return false ;
            }
            var obj = data.field;
            var f = $('#userForm').serializeObject();
            console.log(f);
            console.log(usernameMsg);
            // 异步提交表单
            $.ajax({
                type: 'PUT',
                url: '/admin/user/opt/password',
                data: f,
                success: function (d) {
                    console.log(d);
                    layer.alert(d.message, {icon: d.code + 1}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }
            });
            return false;
        });
    });

    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if(this.name=="rids"){
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = [this.value || ''];
                }
            }else if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
</script>
</body>
</html>