<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>404页面</title>
    <meta name="author" content="404页面">
    <meta name="Copyright" content="404页面">
    <link rel="stylesheet" type="text/css" th:href="@{/error_files/css.css}">
</head>
<body>
<div class="error_404">
    <div class="inner">
        <a  th:href="@{/index}">返回首页</a>
    </div>
</div>
</body>
</html>