<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>

    <div th:replace="common/css"/>
    <div th:replace="common/js"/>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="">
<div class="container">
    <div class="logo"><a href="/">在线投稿管理系统</a></div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">会员功能</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('投稿须知','/notice')"><i class="iconfont">&#xe6b8;</i>投稿须知</a></dd>
                <dd><a href="/login"><i class="iconfont">&#xe6a2;</i>会员登录</a></dd>
                <dd><a href="/register"><i class="iconfont">&#xe6a2;</i>会员注册</a></dd>
            </dl>
        </li>
    </ul>
</div>
<!--
top
-->
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="作者" name="author">
            <input class="layui-input" placeholder="投稿者" name="username">
            <input class="layui-input" placeholder="标题" name="title">
            <input class="layui-input" placeholder="摘要" name="summary">
            <br/>
            <input class="layui-input" placeholder="关键字" name="keyword">

            <div class="layui-input-inline">
                <select lay-verify="" id="subject" name="subject">
                    <option value="">学科</option>
                    <option value="0">计算机科学与技术</option>
                    <option value="1">机电工程</option>
                    <option value="2">物理工程</option>
                </select>
            </div>
            <input class="layui-input" autocomplete="off" placeholder="创建时间" name="gmtCreate" id="start">
            <input class="layui-input" autocomplete="off" placeholder="修改时间" name="gmtModified" id="end">
            <button class="layui-btn" lay-submit="" lay-filter="search" th:title="搜索"><i
                    class="layui-icon">&#xe615;</i>
            </button>
            <button class="layui-btn" type="reset" lay-event="clear" th:title="重置"><i
                    class="layui-icon layui-icon-fonts-clear"></i></button>
        </form>
    </div>
    <table class="layui-table"
           lay-data="{url:'/admin/sub/list?status=3',page:true,id:'tsub',initSort:{field:'id', type:'asc'}}"
           lay-filter="tsub">
        <thead>
        <tr>
            <th lay-data="{field:'id',sort: true, width:50}">ID</th>
            <th lay-data="{field:'author', width:100, sort: true, edit: 'text'}">作者</th>
            <th lay-data="{field:'title', width:100, sort: true, edit: 'text',event: 'setTitle'}">标题</th>
            <th lay-data="{field:'summary', sort: true, width: 100,event: 'setSummary'}">摘要</th>
            <th lay-data="{field:'keyword', sort: true, width: 100,event: 'setKeyword'}">关键字</th>
            <th lay-data="{field:'subject', sort: true, width: 100}">学科</th>
            <th lay-data="{field:'username', sort: true, width: 100}">投稿者</th>
            <th lay-data="{field:'right', width: 150, align:'center', toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
    </table>

</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
</script>
<script>
    layui.use('table', function () {
        $ = layui.jquery;
        var table = layui.table;
        var form = layui.form
            , layer = layui.layer;

        form.on('submit(search)', function (data) {
            var obj = data.field;
            console.log(obj);
            // 异步提交表单
            table.reload('tsub', {
                url: '/admin/sub/list',
                where: obj
            });
            return false;
        });
        table.on('checkbox(tsub)', function (obj) {
            console.log(obj.checked); //当前是否选中状态
            console.log(obj.data); //选中行的相关数据
            console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
        });
        //监听行工具事件
        table.on('tool(tsub)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            let dstatus = $("#" + data.id + "_status");
            if (layEvent === 'detail') {
                x_admin_show('查看', '/admin/sub/detail2/' + data.id, 700);
            } else {
                alert("无此操作");
            }
        });

        function setReview(id, value, msg) {
            $.ajax({
                type: 'POST',
                url: '/admin/sub/opt/' + id,
                data: {id: id, status: value, msg: msg},
                success: function (data) {
                    if (data.code == 0) {
                        layer.alert("审核完成", {icon: d.code + 1}, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    }
                }
            });
        }

        //end
    });
</script>
<div th:replace="common/footer"></div>
</body>

</html>