<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>投稿须知</title>
    <style type="text/css">
        <!--
        body {
            background-color: #FFFFFF;
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
        }

        -->
    </style>
    <link href="Style.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        <!--
        .STYLE3 {
            font-size: 12px;
            color: #000000;
            font-family: Arial, Helvetica, sans-serif;
        }

        .STYLE4 {
            color: #0033FF
        }

        .STYLE5 {
            color: #333333
        }

        -->
    </style>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8218256-5']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>

</head>

<body>
<div align="center">

    <table width="778" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" bgcolor="#F2F6FF">
                <table width="75%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="20">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="20" align="center" bgcolor="#F6F6F6" class="around_black_1px">
                                        <div align="center" class="r1"><strong>投稿须知</strong></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font_14px" align="left"><p>
                                        <strong>一、 </strong><strong>论文要求 </strong><br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本刊刊登的学术论文应该满足：论文视角独特、观点新颖；研究思路清晰、方法科学；论文论证严密、资料翔实；论文结构严谨、行文规范。
                                        <br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本刊强调论文的原创性，严格遵守著作权法，提倡健康优良的学术风气，坚决杜绝剽窃抄袭行为。
                                    </p>
                                        <p><strong>二、论文首页 </strong><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本刊实行双向匿名审稿制度。请作者按要求将作者姓名、所在单位、通讯地址、邮政编码、联系电话、E-mail等个人信息全部放在与正文内容相独立的首页，其它页中不应出现这些信息。
                                            <br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首页中还应包括基金项目、作者简介和谢辞等。具体内容参见&ldquo;论文模版&rdquo;（可到下载中心下载）。
                                        </p>
                                        <p><strong>三、文稿格式 </strong><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文稿内容依次包括：中文标题，中文摘要及关键词，正文，参考文献，英文标题，英文摘要及关键词。
                                            <br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中文标题：简明确切地反映文章内容，不超过20字，超过20字的建议用副标题反映。
                                            <br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中文摘要及关键词：中文摘要一般在200字左右，包括目的、方法、结果、结论四个要素；中文关键词一般为3～5个，关键词之间用分号隔开，最后一个关键词后不加标点。
                                            <br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;正文：正文应层次清楚，方便阅读，行文符合规范。正文中的各级标题分别为：&ldquo;一&rdquo;、&ldquo;（一）&rdquo;、&ldquo;1.&rdquo;和&ldquo;（1）&rdquo;等。正文中的表格按全文顺次编号，如表1、表2等；表名在表格的上方居中；表格上下封口，左右不封口。正文中的图按全文顺次编号，如图1、图2等；图名居图的下方正中。正文中的数学表达式亦按全文顺次编号，如&ldquo;(1)&rdquo;、&ldquo;(2)&rdquo;等，放在表达式的右边行末，其间不加虚线。正文中的注释按本页顺次编号，如&ldquo;①&rdquo;、&ldquo;②&rdquo;等，以脚注形式出现在本页下脚。
                                            <br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;参考文献：本刊要求所有参考文献按照在文中出现的先后顺序做实引，在引用处用上角标的形式标注，如&ldquo;[1]&rdquo;、&ldquo;[2]&rdquo;等；同一文献反复引用者，用在正文中首次引用的文献序号标注；正文中引用的参考文献有两位作者时中间用&ldquo;和&rdquo;连接，有三位或以上作者时用第一作者加&ldquo;等&rdquo;。引用外文文献时只用作者的姓。
                                            <br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文后中文参考文献的具体编排格式如下： <br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）期刊：[序号]作者.文献名[J].刊名，年，卷（期）：起止页码.<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）著作：[序号]作者.书名[M].出版地：出版社，出版年.卷.起止页码.<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）论文集：[序号]作者.论文名[A].原文献作者.论文集名[C].出版地：出版社，出版年.起止页码.<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4）研究报告：[序号]作者.篇名[R].出版地：出版社，出版年.起止页码.<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（5）报纸：[序号]作者.篇名[N].报纸名，出版日期（版次）.<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（6）电子文献：[序号]作者.篇名[电子文献及载体类型标识].文献出处或可获得地址，发表或更新日期/引用日期.<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文后英文参考文献的具体编排格式如下：作者的姓用全称，名用缩写，姓在前、名在后，中间用逗号分隔，如&ldquo;Melitz,
                                            M. J.&rdquo;，&ldquo;Antr&agrave;s, P., Helpman, E.&rdquo;，&ldquo;Helpman,
                                            E., Melitz, M., Yeaple, S.&rdquo;；题名的首字母及各个实词的首字母大写；期刊的刊名等用全称，后面紧跟&ldquo;年，总期数（当年期数）：起始页码-结束页码&rdquo;。例如：
                                            <br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[1] Melitz, M. J. The Impact of Trade on
                                            Intra-Industry Reallocations and Aggregate Industry Productivity[J].
                                            Econometrica, 2003, 71(6): 1695-1725.<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2] Antr&agrave;s, P., Helpman, E.
                                            Global Sourcing[J]. Journal of Political Economy, 2004, 112 (3):
                                            552-580.<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[3] Helpman, E., Melitz, M., Yeaple, S.
                                            Export Vesus FDI[J]. American Economic Review, 2004, 94: 300-316.<br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;英文标题：与中文标题相对应，不超过25个词。 <br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;英文摘要和关键词：与中文摘要和关键词相对应。 </p>
                                        <p><strong>四、投稿方式 </strong><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请注册为会员之后投稿<a
                                                    href="#"></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>