<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tju.mapper.SubFileMapper">

    <select id="selectBySid" resultType="cn.edu.tju.entity.File">
      select f.* from pm_file f,pm_sub_file sf
      where f.id=sf.fid and sf.sid=#{id}
    </select>
</mapper>
